@import "variables";

@mixin mq($value) {
  $size: map-get($breakpoints, $value);
  @media (max-width: $size) {
    @content;
  }
}

// TopBar.vue
@mixin tool() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: #eaf1fe;
    color: #6477f1;
  }
}

// HomeView.vue
@mixin inputBar() {
  outline: none;
  border: none;
  border-radius: $border-radius;
  background-color: $background;
}
