// Breakpoints
$breakpoints: (
  xs: 375px,
  xs-s: 498px,
  s: 576px,
  s-m: 630px,
  m: 768px,
  l: 900px,
  l-xl: 1050px,
  xl: 1200px,
  xxl: 1500px,
);

// Colors
$background: #f3f3f9;
$sidebar: #010e38;
$buttons: #364574;
$txt-sidebar: #abb9e8;
$txt-title: #495057;
$txt-subtitle: #878a99;
$txt-aside: #212529;
$validation: #099885;
$logo-color: #e50c68;
$menu-color: #5c6fb5;
$profile-pic: #f3f6f9;
$input-border: #ced4da;
$placeholder: #858896;

// Fonts
//$conforfit: ;
$main-font: "Poppins", sans-serif;

// Border radius
$border-radius: 4px;
